<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/bootstrap.css" />
    <link rel="stylesheet" href="assets/style.css" />
    <title>Room</title>
  </head>
  <body>
    <div id="video-grid"></div>
  </body>
  <script>
    const ROOM_ID = "<%= roomId %>";
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="assets/peer.js"></script>
  <script src="assets/stream.js"></script>
</html>
